body{
    box-sizing: border-box;
    background-image: url("./pics/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    font-family: "manjari";
    
}

header{
    /*background-color: rgb(26, 25, 25);*/
    height: 160px;
}

.logo{
    height: 140px;
}

.acg-container{
    height: 60%;
    width: 90%;
    display: block;
    margin-left: auto;
    /*position: center;*/
    background-color: rgb(12, 132, 68);
    /*opacity: 0.5;*/
    border: 20px;
    margin: 20px auto;
    padding: 10px 50px;
    border-radius: 30px;
    transition: 1s ease-out;
}
/*.acg-container:hover{
    transition: 1s ease-in;
    opacity: 0.9;
}*/

.companies-container{
    height: 60%;
    width: 90%;
    display: block;
    margin-left: auto;
    background-color: aquamarine;
    opacity: 0.5;
    border: 20px;
    margin: 20px auto;
    padding: 10px 50px;
    border-radius: 30px;
    transition: 1s ease-out;
    
}

.companies-container:hover{
    transition: 1s ease-in;
    opacity: 0.9;
}

/*
.companies-container{
    height: 40%;
    width: 90%;
    display: block;
    margin-left: auto;
    
    background-color: aquamarine;
    opacity: 0.5;
    border: 20px;
    margin: 20px auto;
    padding: 10px 50px;
    border-radius: 30px;
    transition: 1s ease-out;
}

.companies-container:hover{
    transition: 1s ease-in;
    opacity: 0.9;
}*/

.box{
    height: 35%; 
    margin-top: auto; 
    margin-bottom: auto;
    background-color: azure;
    border-radius: 30px; 
    font-display: "manjari"; 
    text-align: center;
    word-wrap: break-word;
    overflow:auto;
    
}

.acgbox{
    height: 35%; 
    margin-top: auto; 
    margin-bottom: auto;
    background-color: antiquewhite;
    opacity: 0.7;
    border-radius: 30px; 
    font-display: "manjari"; 
    text-align: center;
    word-wrap: break-word;
    overflow:auto;
    
}

.apply-button{
    height: 15%; 
    margin-top: auto; 
    margin-bottom: auto;
    
    border-radius: 30px; 
    font-display: "manjari"; 
    text-align: center;
    
}

.button{
    height: 85%; 
    width: 100px;
    padding-top: auto; 
    margin-bottom: auto;
    margin-left: auto;
    background-color: rgb(12, 132, 68);
    border-radius: 5px; 
    color: aliceblue;
    font-display: "manjari"; 
    text-align: center;
    font-size: 23px;

    
}


.acgp{
    margin-bottom: auto;
    word-wrap: break-word;
    overflow:auto;
    
}

.acglogo{
    height: 45%;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: aquamarine;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    
}

.electroluxlogo{
    height: 45%;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    
    margin-left: auto;
    margin-right: auto;
    
}

.pglogo{
    height: 45%;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    
    margin-left: auto;
    margin-right: auto;
    
}
/*nav.navbar.navbar-style{
    width: 100%;
    position: center;
    border-top: 14px;

}*/



/*.navbar-nav navbar-right{
    width: 100%;
    position: center;
    padding-left: auto;

}*/

/*.container{
    background-color: rgb(26, 25, 25);
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0px;
    height: 150px;
}*/
/*
.navbar-header{
    height: 150px;
    width: 100%;
    padding-top: 10px;
    padding-left: auto;
}*/



