body{
    
    
   background:  #1D563B;
    
    
    
    
}


#box2{
    
    
    font-family: cursive;
    background:#0A8344;
    
    opacity: .8;
    color: #FFFFF1;
    font-weight: 400;
    font-size: large;
    
    
}




.jumbotron{
    
 
    text-align: center;
    overflow: hidden;
    
    
    
}

 img{
    
   width:100%;
   
    
    
    
}
#box1{
    
 background: none;
 margin-bottom: 10px;
 
    
}
footer{
 
 background:#0A8344;
 overflow: hidden;
 text-align: center;
 color: black;
 padding: 0px 0px ;
 
 
}

footer ul {
 
list-style: none;
padding-left: 0;
margin: 10px  0  ;

 
}



footer ul li {
 
 display: inline-block;
 
 
 
 
}
footer ul li img {
 
 width: 50px;
 height: auto;
 
 
 
}
